{{ define "main" }}
<!-- Page that displays after clicking on a post's tag -->
  <h1>{{ i18n "tagged" }} "{{ .Data.Term }}"</h1>
  {{range .Pages}}
  
    <!-- Display the posts with the tag -->
    <article>
            <h2>
                <a href="{{ .Permalink }}">
                    {{ .Title }}
                </a>
            </h2>
            <div>
                <p>{{ .Summary }}</p>
                {{ if (and (.Site.Params.showReadMore) (.Truncated)) }}
                <p><a href="{{ .RelPermalink }}">{{ i18n "read_more" }}</a></p>
                {{ end }}
            </div>
            <div class="post-footer">
            <time>{{ .Date.Format "January 2, 2006" }}</time>
            </div> 
        </article>
    {{ end }}

{{ end }}
